@font-face {
    font-family: 'OptimusPrinceps' ;
    font-style: normal;
    font-weight: bolder;
    src: url('../public/assets/fonts/OptimusPrincepsSemiBold.ttf');
}
@font-face {
    font-size: 32px;
    font-family: 'OptimusPrincepsSemiBold' ;
    font-style: normal;
    font-weight:900;
    src: url('../public/assets/fonts/OptimusPrincepsSemiBold.ttf');
}