@media (max-width:2560px) {
    .carousel{
        margin-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
    }
    ::ng-deep .p-galleria-content, ::ng-deep .p-galleria-items-container{
        height: 460px;
    }
}
@media (max-width:1024px) {
    ::ng-deep .p-galleria-item{
        align-items: normal !important;
    }
}